:root {
    --primary: #43c7ff;
    --secondary: #333;
}
.title {
    font-weight: bold;
    color: #333;
}
.navbar {
    background-color: var(--primary);
    display: flex;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}